@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Zen+Dots:regular);

:root {
	--dark-color: #0c0e12;
	--green-color: #3ac7a5;
	--blue-color: #2b4ed7;
	--dark-light-color: #999;
	--gray-color: #c9c9c9;
	--light-color: #f6f6f6;
	--white-color: #fff;
	--border-radius: 5px;
	--container-width: 1170px;
	--transition: all 0.3s ease-in-out;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
	position: relative;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.overflow-hidden {
	overflow: hidden;
}

@media screen and (max-width: 1200px) {
	:root {
		--container-width: 900px;
	}
}

@media screen and (max-width: 900px) {
	:root {
		--container-width: 768px;
	}
}

@media screen and (max-width: 768px) {
	:root {
		--container-width: 576px;
	}
}

@media screen and (max-width: 576px) {
	:root {
		--container-width: 100%;
	}
}
